@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: rgb(135,89,209);
$secondary: rgb(250,219,95);
$light: rgb(115,115,115);

$font-family-base: "Alexandria";

.card-img-top{
    max-height: 225px;
    object-fit: cover;
}

.top-card-img{
    max-height: 300px
}

.card{
    margin: 0.5em;
}

@import url(../node_modules/bootstrap/scss/_carousel.scss);

.carousel-control-next{
    right: 155px;
}

.carousel-next-icon{
    right: 150px;
}

@import"../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";