@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

// $enable-rounded:true;

$primary: rgb(135,89,209);
$secondary: rgb(250,219,95);
$light: rgb(115,115,115);

$font-family-base: "Alexandria";



.card-img-top{
    max-height: 225px;
    object-fit: cover;
}

.top-card-img{
    max-height: 300px
}

// .eventHeader{
//     max-width:300px
// }

// @media screen and (max-width:567px) {
//     .card:not(:first-child){
//         display:none;   
//     }
// }



@import"../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";